@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&family=Press+Start+2P&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'space grotesk', Helvetica, sans-serif;
    background-color: #232829;
    color: #ff91a4;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

header {
    border-bottom: 5px solid #ff91a4;
}

h1 {
    font-family: 'press start 2p', Helvetica, sans-serif;
    color: #ff91a4;
    font-size: 400%;
    text-align: center;
    padding: 3%;
}

.rules {
    text-align: center;
    margin: 5%;
}

.username {
    font-family: 'press start 2p', Helvetica, sans-serif;
    text-align: center;
    font-size: 200%;
}

.scoreboard {
    font-size: 350%;
    margin-top: 3%;
    padding: 2%;
    display: flex;
    text-align: center;
    color: #05D0EB;
}

.player-name {
    float: left;
    margin-left: 15%;
    flex: 1;
}

.computer-name {
    float: right;
    margin-right: 15%;
}

.player-score {
    margin-left: 23%;
    padding-right: 2%;
    flex: 1;
}

.computer-score {
    margin-right: 23%;
    padding-left: 2%;
}

.result {
    font-size: 300%;
    margin-top: 2%;
    text-align: center;
    color: #05D0EB;
}

.controls {
    text-align: center;
    padding: 2%;
}

.controls i {
    margin: 2.5%;
    padding: 1.5%;
    font-size: 6em;
}

.controls i:hover {
    transform: scale(1.5);
    cursor: pointer;
    border: 2px solid #ff91a4;
    border-radius: 50%;
}

footer {
    border-top: 5px solid #ff91a4;
}

