@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&family=Press+Start+2P&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body styling and background effect */

body {
    font-family: 'space grotesk', Helvetica, sans-serif;
    background-color: #232829;
    color: #ff91a4;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* Header and h1 styling */

header {
    border-bottom: 5px solid #ff91a4;
}

h1 {
    font-family: 'press start 2p', Helvetica, sans-serif;
    color: #ff91a4;
    font-size: 350%;
    text-align: center;
    padding: 3%;
}

/* Landing page - rules and username input styling */

.rules {
    text-align: center;
    margin: 3%;
}

#name, #submit {
    padding: 0.5%;
    border: 3px solid #ff91a4;
    font-family: 'press start 2p', Helvetica, sans-serif;
    font-weight: bold;
    color: #05D0EB;
    background-color: rgba(0,0,0,0);
    font-size: 60%;
}

#submit:hover {
    cursor: pointer;
    border: 3px solid #05D0EB;
    color: #ff91a4;
}

.username {
    font-family: 'press start 2p', Helvetica, sans-serif;
    text-align: center;
    font-size: 200%;
}

/* Game page */

/* Scoreboard section */

.scoreBoard {
    font-size: 350%;
    margin-top: 3%;
    padding: 2%;
    display: flex;
    text-align: center;
    color: #05D0EB;
}

#playerName {
    margin-left: 15%;
    padding-right: 8%;
    flex: 1;
    margin-top: 30px;
}

#computerName {
    margin-right: 15%;
    padding-left: 8%;
    margin-top: 30px;
}

.scores {
    font-size: 150%;
    margin: 0 5%;
    border: 3px solid #05D0EB;
    padding: 1% 2%;
    text-align: center;
}

.win-green {
    color:#90EE90;
}

.lose-red {
    color: #f70d1a;
}

/* Result message */

.result {
    font-size: 300%;
    margin-top: 2%;
    text-align: center;
    color: #05D0EB;
}

/* User controls area */

.controls {
    text-align: center;
    padding: 2% 0 1% 0;
}

.controls i {
    margin: 2.5%;
    padding: 1%;
    font-size: 6em;
}

.controls i:hover {
    transform: scale(1.5);
    cursor: pointer;
    border: 2px solid #05D0EB;
    border-radius: 50%;
}

/* Message to user */

.message {
    font-family: 'press start 2p', Helvetica, sans-serif;
    text-align: center;
    font-size: 250%;
    padding: 2% 0;
}

/* Footer styling */

footer {
    border-top: 5px solid #ff91a4;
    margin: 3% 0;
}

/* Media queries */

/* For large to medium screen size from 1480px wide and down */

