@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&family=Press+Start+2P&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'space grotesk', Helvetica, sans-serif;
}

header {
    background-color: #232829;
}

h1 {
    font-family: 'press start 2p', Helvetica, sans-serif;
    color: #ff91a4;
    font-size: 400%;
    text-align: center;
    padding: 3%;
}

.name-area {
    font-size: 300%;
    margin-top: 5%;
    padding: 2%;
    display: flex;
}

.player-name {
    margin-left: 20%;
    flex: 1;
}

.computer-name {
    margin-right: 20%;
}

.score-area {
    font-size: 400%;
    /* padding: 2%; */
    display: flex;
}

.player-score {
    margin-left: 25%;
    flex: 1;
}

.computer-score {
    margin-right: 26%;
}

.notice-area {
    text-align: center;
    margin-top: 2%;
}





